.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

header .nuxt-link-exact-active {
  @apply text-green;
}

.nav-link {
  @apply relative transition-colors;

  &::before,
  &::after {
    @apply absolute top-full left-0 w-full bg-green pointer-events-none;
  }

  &::before {
    @apply top-0 h-full opacity-0;

    content: '';
  }

  &:hover::before {
    @apply opacity-100;

    animation: coverUp 0.3s ease forwards;
  }

  &::after {
    content: '';
    transition: opacity 0.3s;
  }

  &:hover::after {
    @apply opacity-0;
  }
}

@keyframes coverUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 0.045, 1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }

  51% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0.045, 1);
  }
}

.link {
  @apply hover:text-green transition-colors ease-out;
}
