html {
  @apply bg-black min-h-screen;
}

main {
  @apply focus:outline-none;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input.number-appearance-none::-webkit-outer-spin-button,
input.number-appearance-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'].number-appearance-none {
  -moz-appearance: textfield;
}

a,
button,
input,
textarea,
select {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-green;
}
.nuxt-link-exact-active:not(.lang-switcher) {
  &.nav-link,
  &.mobile-nav-link {
    @apply text-green;
  }
}

.btn {
  @apply py-2 px-6 font-bold text-black border-white hover:text-white text-lg bg-white hover:bg-transparent border-2 rounded-full shadow-2xl shadow-white/50 transition-colors ease-out;
}
.btn-alt {
  @apply py-2 px-6 font-bold text-black border-green hover:text-green text-lg bg-green hover:bg-transparent border-2 rounded-full shadow-2xl shadow-green/50 transition-colors ease-out;
}
.nav-link {
  @apply relative transition-colors;

  &::before,
  &::after {
    @apply absolute top-full left-0 w-full bg-green pointer-events-none;
  }

  &::before {
    @apply top-0 h-full opacity-0;

    content: '';
  }

  &:hover::before {
    @apply opacity-100;

    animation: coverUp 0.3s ease forwards;
  }

  &::after {
    content: '';
    transition: opacity 0.3s;
  }

  &:hover::after {
    @apply opacity-0;
  }
}

@keyframes coverUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 0.045, 1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }

  51% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0.045, 1);
  }
}

.link {
  @apply hover:text-green transition-colors ease-out;
}

.skeleton-bone {
  @apply rounded-full bg-gray-600 animate-pulse;
}
